<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('favicon.ico') }}" />
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}

		<!-- Axentix CSS minified version -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css"> 

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />

		

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
        <!-- Fichiers CSS perso communs à toutes les pages -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	</head>

	<body class="layout">
		<header>
			<nav class="navbar shadow-1 primary">
				<a href="{{ path('app_home') }}" class="navbar-brand">Annonces</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link " href="{{ path('app_home') }}">Accueil</a>
					<a class="navbar-link" href="{{ path('users') }}">Profil</a>
					<a class="navbar-link" href="{{ path('app_contact') }}">Contact</a>
					<a class="navbar-link" href="{{ path('admin_home') }}">Administration</a>
				</div>
			</nav>
		</header>

		<main>
			{% block body %}<!-- Code here the main content -->{% endblock %}
		</main>

		<footer class="footer primary">
			Copyright © 2020 - Example
		</footer>
        
        <!-- Axentix JS minified version -->

		<script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script> 

		

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
        <!-- Fichiers JS perso communs à toutes les pages. --> 
        <script src="{{ asset('js/scripts.js') }}"></script>
	</body>

</html>
